.gol-app {
    box-sizing: border-box;
}

.default {
    width: 700px;
    height: 500px;
}
.gol-cell {
    border: 1px solid silver;
    background-color: black;
    width: 8px;
    height: 8px;
    float:left;
}

.gol-cell.live {
    background-color:green;
}
